#servicios {
    background-color: #0d0d0d;
    color: white;
    padding: 60px 0;
}

.servicio {
    padding: 30px 24px;
}

.servicio h2 {
    margin-bottom: 30px;
}

.servicio h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.servicio p {
    color: #999;
    line-height: 1.6;
}

.servicio:hover{
    background-color: rgba(17, 17, 17);
}

.servicio:hover h3{
    color: rgba(205, 233, 59);
}